body {
    background-color: lightgray;
    height: 100vh;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 50rem;
    height: 30rem;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.circle {
    background-color: red;
    width: 16rem;
    height: 16rem;
    border-radius: 100%;
}